---
import Config from '../utils/config';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .sort((a, b) => new Date(b.data.date) - new Date(a.data.date));

const featuredPost = posts.find(post => post.data.featured);
const regularPosts = posts.filter(post => !post.data.featured);
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{Config.siteTitle}</title>
  <style>
    /* Your existing CSS */
  </style>
</head>
<body>
  <div class="container">
    <!-- Your existing HTML -->
  </div>
</body>
</html>