name: Test Facebook Post
on: workflow_dispatch

jobs:
  post-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Send Post to Facebook
        run: |
          # We use 'me/feed' so the Token automatically finds the correct Page
          curl -i -X POST "https://graph.facebook.com/v24.0/me/feed" \
          -d "message=Hello Welcome" \
          -d "access_token=${{ secrets.FACEBOOK_PAGE_TOKEN }}"